<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample SQL Alchemy</title>
</head>
<body>
  <h1>Welcome to my Sample SQLAlchemy App</h1>
    <form method="POST" action="/">
        Email:<input type="text" name="email" />
        User name:<input type="text" name="username" />
        Password:<input type="password" name="password" />
        is Admin?<input type="checkbox" name="admin" value="False">
        <input type="submit" value="Add">
    </form>


</body>
</html>